/*
	Theme Name: Jackweld
	Theme URI: https://powerhut.net/themes/
	Description: A custom theme for jackweld.co.uk, based on the Atmosphere Pro theme from StudioPress.
	Author: Powerhut Net
	Author URI: https://powerhut.net/

	Version: 1.0.0
    
	Tags: one-column, custom-colors, custom-header, custom-menu, e-commerce, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, accessibility-ready

	Template: genesis
	Template Version: 2.2

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php

	Text Domain: atmosphere-pro
*/

/* Table of Contents
	- Imports
	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Gallery
		- Forms
		- Column Classes
		- Tables
		- Screen Reader Text
	- Structure and Layout
		- Site Container
		- Site Inner
	- Common Classes
		- Avatar
		- Genesis
		- Search Form
		- Titles
		- WordPress
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Simple Share
		- Jetpack
	- Skip Links
	- Site Header
		- Site Title and Description
	- Site Navigation
		- Accessible Menu
		- Primary Navigation
		- Secondary Navigation
	- Content Area
		- Entries
		- Intro Text
		- Entry Meta
		- After Entry
		- Pagination
		- Comments
	- Footer Widgets
	- Site Footer
	- Media Queries
		- Max-width: 1024px
		- Max-width: 800px
*/


/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:600}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:600}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 2rem;
}

body {
	background-color: #eee;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: #333;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #55acee;
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #000;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-bottom: 1px solid #ddd;
	clear: left;
	margin: 0 0 40px;
	padding-top: 20px;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 28px;
	font-size: 2.8rem;
}

h4 {
	font-size: 24px;
	font-size: 2.4rem;
}

.entry-content h4 {
	font-size: 20px;
	font-size: 2rem;
	letter-spacing: 1px;
	margin-top: 40px;
	text-transform: uppercase;
}

h5 {
	font-size: 20px;
	font-size: 2rem;
}

h6 {
	font-size: 18px;
	font-size: 1.8rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
	border: 1px solid #999;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #f5f5f5;
	border: 1px solid #f5f5f5;
	color: #333;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 300;
	padding: 16px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

input[type="number"] {
	background-color: #fff;
	border: 1px solid #333;
	padding: 7px;
}

.footer-widgets input,
.footer-widgets input:focus {
	background-color: #fff;
	border: 1px solid #fff;
}

input:focus,
textarea:focus {
	background-color: #eee;
	border: 1px solid #eee;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #999;
	font-weight: 300;
	opacity: 1;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
	color: #999;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.content .widget .textwidget a.button,
.entry-content a.button,
.entry-content a.more-link {
	background-color: transparent;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 12px 24px;
	text-transform: uppercase;
	white-space: normal;
	width: auto;
}

button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small,
.button.small,
.content .widget .textwidget .button.small,
.entry-content .button.small {
	padding: 8px 16px;
}

a.more-link {
	display: inline-block;
}

.archive .content a.more-link,
.page.page-template-page_blog .content a.more-link {
	margin-bottom: 30px;
}

button:focus,
button:hover,
input:focus[type="button"],
input:hover[type="button"],
input:focus[type="reset"],
input:hover[type="reset"],
input:focus[type="submit"],
input:hover[type="submit"],
.button:focus,
.button:hover,
.content .widget .textwidget a.button:focus,
.content .widget .textwidget a.button:hover,
.entry-content a.button:focus,
.entry-content a.button:hover,
.entry-content a.more-link:focus,
.entry-content a.more-link:hover {
	background-color: #34313b;
	border: 1px solid #34313b;
	color: #fff;
	text-decoration: none;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button,
.footer-widgets .entry-content a.more-link {
	border: 1px solid #fff;
	color: #fff;
}

.footer-widgets button:focus,
.footer-widgets button:hover,
.footer-widgets input:focus[type="button"],
.footer-widgets input:hover[type="button"],
.footer-widgets input:focus[type="reset"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:focus[type="submit"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:focus,
.footer-widgets .button:hover,
.footer-widgets .entry-content a.more-link:focus,
.footer-widgets .entry-content a.more-link:hover {
	background-color: #fff;
	color: #333;
	text-decoration: none;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #ddd;
	border-width: 0;
	color: #777;
	cursor: not-allowed;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.error404 .entry-content input[type="search"],
.post-password-form input[type="password"] {
	margin-bottom: 15px;
}

/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 400;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	background-color: #fff;
	border: 0;
	clip: rect(0, 0, 0, 0);
	color: #222;
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.genesis-nav-menu .search input[type="submit"]:focus,
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus  {
	border: 1px solid #333;
	clip: auto !important;
	display: block;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 700;
	height: auto;
	padding: 20px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}


/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Container
--------------------------------------------- */

.site-container {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}

.site-container {
	-webkit-animation: fadein 1s;
	-moz-animation:    fadein 1s;
	-ms-animation:     fadein 1s;
	-o-animation:      fadein 1s;
	animation:         fadein 1s;
}

.atmosphere-landing .site-container {
	max-width: 960px;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;
	margin-top: 77px;
	padding: 10% 20%;
}

.atmosphere-landing .site-inner {
	margin-top: 0;
}


/* Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* Genesis
--------------------------------------------- */

.archive-description,
.author-box,
.breadcrumb {
	border-bottom: 1px solid #eee;
	margin-bottom: 60px;
}

.archive-description,
.author-box {
	padding-bottom: 30px;
}

.breadcrumb {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.author-box {
	font-size: 18px;
	font-size: 1.8rem;
}

.single .author-box {
	border-top: 1px solid #eee;
	padding-top: 30px;
}

.archive-description a,
.author-box a {
	border-bottom: 1px solid #ddd;
}

.archive-description a:focus,
.archive-description a:hover,
.author-box a:focus,
.author-box a:hover {
	border-bottom: 1px solid #333;
	color: #333;
}

.archive-description p::last-child,
.author-box p::last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
	position: relative;
}

.search-form input {
	-webkit-appearance: none;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.widget_search .search-form input[type="submit"]:focus {
	padding: 18px 20px;
	right: 0;
	top: 0;
}

.error404 .content .search-form {
	margin-bottom: 40px;
}

.error404 .content .search-form input[type="submit"] {
	border: 1px solid #333;
	height: auto;
	margin: 0;
	padding: 16px 24px;
	position: static;
	width: auto;
}

/* Titles
--------------------------------------------- */

.archive-title {
	font-size: 16px;
	font-size: 1.6rem;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.author-box-title {
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 0.5px;
	margin-bottom: 6px;
	text-transform: uppercase;
}

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
}

.entry-title .atmosphere-large-text {
	display: block;
	margin-bottom: 20px;
}

.entry-title a {
	color: #333;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #55acee;
}

.widget-title {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 20px;
}

/* WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 50%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 10px;
}

.wp-audio-shortcode,
.wp-playlist,
.wp-video {
	margin-bottom: 30px;
}

a[rel~="attachment"],
a[rel~="attachment"]:hover,
.gallery-item a,
.wp-audio-shortcode a,
.wp-audio-shortcode a:hover,
.wp-caption a,
.wp-caption a:hover,
.wp-playlist a,
.wp-playlist a:hover,
.wp-video a,
.wp-video a:hover {
	border-width: 0 !important;
}

.sticky {
}


/* Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	padding-bottom: 60px;
}

.featured-content .entry-content p {
	font-size: 18px;
	font-size: 1.8rem;
}

.featuredpost .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}


/* Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 30px;
	width: 100%;
}

.enews-widget p {
	margin-bottom: 15px;
}

.enews form + p {
	margin-top: 24px;
}

/* Genesis Simple Share
--------------------------------------------- */

.content .share-after {
	margin-bottom: 20px;
}

.content a.count,
.content a.count:focus,
.content a.count:hover,
.content a.share,
.content a.share:focus,
.content a.share:hover {
	border: none;
	font-weight: 400;
}

.content .share-filled .share {
	border-radius: 0;
}

.content .share-filled .count {
	border-radius: 0;
}

.content .share-filled .facebook .count,
.content .share-filled .facebook .count:hover,
.content .share-filled .googlePlus .count,
.content .share-filled .googlePlus .count:hover,
.content .share-filled .linkedin .count,
.content .share-filled .linkedin .count:hover,
.content .share-filled .pinterest .count,
.content .share-filled .pinterest .count:hover,
.content .share-filled .stumbleupon .count,
.content .share-filled .stumbleupon .count:hover,
.content .share-filled .twitter .count,
.content .share-filled .twitter .count:hover {
	color: #333;
	border: 1px solid #333;
}

.content .share-filled .facebook .share,
.content .share-filled .facebook:hover .count,
.content .share-filled .googlePlus .share,
.content .share-filled .googlePlus:hover .count,
.content .share-filled .linkedin .share,
.content .share-filled .linkedin:hover .count,
.content .share-filled .pinterest .share,
.content .share-filled .pinterest:hover .count,
.content .share-filled .stumbleupon .share,
.content .share-filled .stumbleupon:hover .count,
.content .share-filled .twitter .share,
.content .share-filled .twitter:hover .count {
	background: #333 !important;
}

.content .share-filled .facebook:hover .count,
.content .share-filled .googlePlus:hover .count,
.content .share-filled .linkedin:hover .count,
.content .share-filled .pinterest:hover .count,
.content .share-filled .stumbleupon:hover .count,
.content .share-filled .twitter:hover .count {
	color: #fff;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #222;
	outline: #ddd solid 1px;
}


/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	max-width: 1280px;
	min-height: 77px;
	padding: 20px 40px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

/* Site Title and Description
--------------------------------------------- */

.title-area {
	float: left;
	margin-top: 8px;
}

.site-title {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #333;
}

.header-image .nav-primary:not(button) {
	margin-top: 22px;
}

.header-image .site-header {
	padding: 0 40px;
}

.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

.header-image .site-title > a {
	background-position: center center !important;
	background-size: contain !important;
	float: left;
	min-height: 70px;
	width: 300px;
    width: 120px;
}

.header-image .title-area {
	margin: 3px 0 0;
}

.site-description {
	display: block;
	height: 0;
	margin-bottom: 0;
	text-indent: -9999px;
}


/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-weight: 400;
	line-height: 1;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	letter-spacing: 1px;
	padding: 10px;
	text-transform: uppercase;
}

.genesis-nav-menu .current-menu-item > a {
	color: #55acee;
}

.genesis-nav-menu .sub-menu {
	background-color: #fff;
	left: -9999px;
	opacity: 0;
	position: absolute;
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
	width: 180px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -44px 0 0 179px;
}

.genesis-nav-menu .sub-menu a {
	border: 1px solid #eee;
	border-top: 0;
	padding: 15px;
	position: relative;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

/* Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.menu-toggle,
.sub-menu-toggle {
	display: none;
	visibility: hidden;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	float: right;
	margin-top: 2px;
}

.nav-primary .sub-menu {
	border-top: 1px solid #eee;
}

.nav-primary li.highlight > a {
	background-color: #fff;
	border: 1px solid #333;
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-primary li.highlight > a:focus,
.nav-primary li.highlight > a:hover {
	background-color: #34313b;
	border: 1px solid #34313b;
	color: #fff;
}

.nav-primary .highlight > .sub-menu {
  margin-left: 15px;
}

.nav-primary .genesis-nav-menu li li {
	margin-left: 0;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	margin-top: 10px;
}

.nav-secondary .genesis-nav-menu a {
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}


/* Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry,
.page.page-template-page_blog-php .entry {
	border-bottom: 1px solid #eee;
	margin-bottom: 60px;
}

.page .entry,
.single .entry {
	border-bottom: 0;
}

.page .entry {
	margin-bottom: 30px;
}

.single .entry {
	margin-bottom: 0;
}

.entry-content a {
	border-bottom: 1px solid #ddd;
}

.entry-content a:focus,
.entry-content a:hover {
	border-bottom: 1px solid #333;
	color: #333;
}

.page .entry-content p:last-child {
	margin-bottom: 0;
}

.page.page-template-page_blog-php .content p:last-child,
.search-results .page .entry-content p:last-child {
	margin-bottom: 30px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 30px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

/* Intro Text
--------------------------------------------- */
.entry-content p.intro,
.entry-header span.intro {
	display: block;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.entry-content p.intro:after,
.entry-header span.intro:after {
	border-bottom: 1px solid #333;
	content: "";
	display: block;
	margin-bottom: 40px;
	padding-bottom: 40px;
	width: 10%;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 0;
}

.entry-header .entry-meta,
.entry-header .entry-meta:last-child {
	margin-bottom: 24px;
	margin-top: -10px;
}

.entry-footer {
	margin-bottom: 30px;
}

.entry-author,
.entry-comments-link,
.entry-footer .entry-meta,
.entry-time {
	font-weight: 400;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	border-bottom: 1px solid #eee;
	margin-bottom: 60px;
	padding-bottom: 30px;
}

.after-entry .widget {
	margin-bottom: 40px;
}

.after-entry a:focus,
.after-entry a:hover {
	text-decoration: underline;
}

.after-entry p:last-child,
.after-entry .widget:last-child {
	margin-bottom: 0;
}

.after-entry ol,
.after-entry ul {
	margin-bottom: 30px;
	margin-left: 40px;
}

.after-entry ol > li {
	list-style-type: decimal;
}

.after-entry ul > li {
	list-style-type: disc;
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
}

.pagination a {
	border-bottom: 1px solid #ddd;
}

.pagination a:focus,
.pagination a:hover {
	border-bottom: 1px solid #333;
	color: #333;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin-bottom: 4px;
	padding: 8px 12px;
	text-transform: uppercase;
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #333;
	color: #fff;
}

/* Comments
--------------------------------------------- */

p.comment-meta,
.entry-comments .comment,
.entry-comments .comment-reply {
	margin-bottom: 40px;
}

.entry-comments .comment:last-child {
	margin-bottom: 0;
}

.entry-pings,
.comment-respond {
	padding-top: 60px;
}

.entry-comments {
	padding-top: 20px;
}

.comment-respond a,
.entry-comments a {
	border-bottom: 1px solid #ddd;
}

.comment-respond a:focus,
.comment-respond a:hover,
.entry-comments a:focus,
.entry-comments a:hover {
	border-bottom: 1px solid #333;
	color: #333;
}

.comment-header {
	font-size: 18px;
	font-size: 1.8rem;
}

.entry-pings .reply {
	display: none;
}

.entry-comments .comment {
	border-bottom: 1px solid #eee;
}

p.comment-form-comment {
	margin-bottom: 20px;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
	margin: 0;
}

.entry-comments .comment {
	clear: both;
}

.entry-comments .children .comment {
	border: none;
}

.comment-list li {
	list-style-type: none;
}

.comment-list ul.children {
	margin-left: 40px;
}


/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #34313b;
	clear: both;
	padding: 100px 20px;
	text-align: center;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets .wrap a,
.footer-widgets .wrap .entry-title a {
	color: #fff;
}

.footer-widgets a:focus,
.footer-widgets a:hover {
	text-decoration: underline;
}

.footer-widgets p:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}

.footer-widgets,
.footer-widgets p,
.footer-widgets .widget-title {
	color: #fff;
}

.footer-widgets .widget-title {
	font-size: 20px;
	font-size: 2rem;
	letter-spacing: 1px;
}


/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	border-top: 1px solid #eee;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 2.5% 40px;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {

	.site-inner {
		margin-top: 0;
		padding-left: 10%;
		padding-right: 10%;
	}

	.js .genesis-nav-menu .sub-menu,
	.js .genesis-nav-menu .sub-menu a,
	.header-image .site-title > a,
	.site-header {
		width: 100%;
	}

	.site-header {
		position: inherit;
		text-align: center;
	}

	.header-image .nav-primary:not(button) {
		margin-top: 0;
		padding-bottom: 20px;
	}

	.nav-primary,
	.title-area {
		float: none;
	}

	.nav-primary li.highlight > a,
	.nav-primary li.highlight > a:focus,
	.nav-primary li.highlight > a:hover,
	.js .nav-primary .sub-menu a {
		background: none;
		border: none;
	}

	.nav-primary li.highlight > a {
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.nav-primary li.highlight > a:focus,
	.nav-primary li.highlight > a:hover {
		color: #55acee;
	}

	.nav-primary .genesis-nav-menu li.highlight > a:focus,
	.nav-primary .genesis-nav-menu li.highlight > a:hover {
		background-color: #fff;
	}

	.genesis-responsive-menu {
		display: none;
		position: relative;
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	.site-header .genesis-responsive-menu .wrap {
		padding: 0;
	}

	.admin-bar .menu-toggle {
		top: 0;
	}

	.menu-toggle,
	.sub-menu-toggle {
		border-width: 0;
		background-color: #fff;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle:focus,
	.menu-toggle:hover,
	.sub-menu-toggle:focus,
	.sub-menu-toggle:hover {
		background-color: #fff;
		border-width: 0;
		color: #55acee;
	}

	.menu-toggle {
		margin-top: 10px;
		position: relative;
		right: 0;
		z-index: 1000;
		width: 100%;
	}

	.sub-menu-toggle {
		float: right;
		padding: 8px 18px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.menu-toggle:before {
		font-size: 1.5em;
		margin: -2px 10px 0 0;
		text-rendering: auto;
		vertical-align: middle;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		margin-top: 1px;
		margin-bottom: 1px;
		position: relative;
		text-align: left;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		border-width: 0;
		padding: 10px;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a:hover,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		border-width: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a:after {
		content: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu a {
		border: none;
	}

	.comment-list ul.children {
		margin-left: 0;
	}

	.site-footer {
		padding: 20px;
	}

}

@media only screen and (max-width: 800px) {

	.gallery-item {
		float: none;
	}

	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width: 100%;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: none;
		margin-left: 0;
		width: 100%;
	}

}
